BODY {
    background:#fafbfd;
    font-family: 'lato';
    overflow: hidden;
}

:root {
    --line:#e8eaed;
    --menu-font-color:#99a4b6;
    --menu-background-active-color:#f4f9ff;
    --menu-font-active-color:#2f87fa;
}

#main-menu {
    border-right:solid 1px var(--line);
    float:left;
    height:100vh;
    width:250px;
    background:#FFF;
}
#main-menu > .logo {
    text-align: left;
    border-bottom:solid 1px var(--line);
    height:120px;
    displaY:flex;
    align-items: center;
    justify-content: left;
}
#main-menu > .menu > ul {
    float:left;
    padding:0px;
    margin:0px;
    display: table;
    width: 100%;

    
}
#main-menu > .menu > ul > li {
    list-style: none;
    padding:0px;
}
#main-menu > .menu > ul > li > a {
    float:left;
    width:100%;
    text-align: left;
    text-decoration: none;
    padding:15px 20px;
    color:var(--menu-font-color);
    text-transform: capitalize;
    transition: 0.3s;
    cursor: pointer;
}
#main-menu > .menu > ul > li > a:hover {
    background: var(--menu-background-active-color);
}
#main-menu > .menu > ul > li > a.active {
    color:var(--menu-font-active-color);
    background: var(--menu-background-active-color);
}
#main-menu > .menu > ul > li > a > i {
    margin-right:10px;
    width:30px;
    text-align: center;
    font-size:15px;
}

/* right */
.app-body {
    float:left;
    width:calc(100% - 250px );
}
.app-body > .top {
    border-bottom:solid 0px var(--line);
    height:60px;
    background:#FFF;
}
.app-body > .top > div:first-child {
    float:left;
    width:50%;
    height:60px;
}
.app-body > .top > div:last-child {
    float:right;
    width:50%;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: right;
}
.app-body > .top > .right {
    padding-right:20px;
}


/* page submenu */
#page {
    height: calc(100vh - 120px);
}
#page > #load {
    overflow-y: scroll;
    height:calc(100vh - 120px)

}
#page > #load > #content {
    margin:40px;
    text-align: left;
}
#page > .submenu {
    background:#FFF;
    border-bottom:solid 1px var(--line);
    height: 60px;
    padding:0px 40px;
    position: relative;
}
#page > .submenu > ul {
    margin:0px;
    padding:0px;
    display:table;
    height:60px;
    position: absolute;
    bottom: 0px;
    
}
#page > .submenu > ul > li {
    margin:0px;
    padding:0px;
    display: inline;
    float:left;
}
#page > .submenu > ul > li > a {
    font-size:0.9em;
    float:left;
    display:flex;
    align-items: center;
    justify-content: right;
    height:60px;
    cursor: pointer;
    padding:0px 30px;
    text-decoration: none;
    color:var(--menu-font-color);
    font-weight: 400;
    text-transform: capitalize;
    border-bottom:solid 1px rgba(0,0,0,0);
    transition: 0.3s;

}
#page > .submenu > ul > li > a.active {
    color:var(--menu-font-active-color);
    border-bottom:solid 1px var(--menu-font-active-color);
}
#page > #load > #content {
    
    padding:0px;
}

.container > .row >  div > div > .title,.container-fluid > .row >  div > div > .title {
    padding:30px;
    padding-bottom:0px;
}
.container > .row >  div > div > .marged,.container-fluid > .row >  div > div > .marged {
    padding:30px;
    
}
.container > .row >  div:first-child,.container-fluid > .row >  div:first-child {
    padding-left:0px;
}
.container > .row >  div:last-child,.container-fluid > .row >  div:last-child {
    padding-right:0px;
}
.container > .row >  div > div,.container-fluid > .row >  div > div {
    background:#FFF;
    border-radius:3px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.06);
    
    
}