<!-- Main JS -->
<script src="modules/./01_aceite_servidores/js/index.js"></script>

<!-- Main CSS-->
<link href="modules/./01_aceite_servidores/css/index.css" rel="stylesheet">

<!-- Submenu -->
<div class="submenu">
     <ul>
         <li><a page="validar_servidor.html" class="active">Checklist de Servidores</a></li>
     </ul>
</div>

<!-- Load Page content-->
<div id="load">
    <div id="content">
    </div>
</div>

