<div class="container-fluid" style='margin-bottom: 40px;'>
    <div class="row">
        <div class="col-sm">
            <div>
                <div class="title"><h3>Consultar servidor</h3></div>
                <div class="marged">
                    
                    <label class="form-label">Salt Master</label>
                    <select class="form-select" id="select_salt_env"  >
                        
                    </select>
                    </br>   
                    
                    <label class="form-label">Minion ID</label>
                    <input type="text" class="form-control" name='minion_id' required>
                    </br>
                    <button type="button" class="btn btn-primary" onclick='consultar_minion_id(event)'>Consultar</button>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="aceite_checklist_result"></div>

<script>

    $(document).ready(function() {

        // 
        $.ajax({
            url: PYTHON_API_SERVER + "/api/servidores/aceite/checklist/salt/masters",
            dataType: "JSON",
            success: function(data) {

                select_list = '<option value="0" selected>Salt Master</option>'

                for(env in data) {
                    ip = data[env]
                    salt_master = 
                    select_list = select_list.concat('<option value="'+ env +'">' + env.toUpperCase() + '</option>')
                }

                $("#select_salt_env").html(select_list)

            },
            error: function(a,b) {
                console.log(a,b)
            }
        })

    })

</script>