.container-aceite-servidor {
    color:#FFF;
    padding:10px 30px;
    position: relative;
}
[status-icon] {
    font-size:2em;
}
[status-icon] > .fa-check-circle {
    color:#66d979;
}
[status-icon] > .fa-exclamation-circle {
    color:#ebe525;
}
[status-icon] > .fa-times-circle {
    color:#eb3f48;
}
.checklist-item  {
    background:#222;
    padding:5px;
    color:#fff;
    border-radius: 3px;
    margin-bottom:10px;
}
.item-ok > i {
    color:#66d979;
    margin-right:20px;
    margin-left:10px;
}
.item-nok > i {
    color:#eb3f48;
    margin-right:20px;
    margin-left:10px;
}

[label-minion-id] {
    color:#FFF;
    font-size: 1.5em;
    padding-left:30px;
}




